@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --fondo-body: #0f1424;
  --fondo-navbar: #1c1f4a;
  --fondo-navbar-2: rgba(28, 31, 74, 0.725);
  --letras: hsl(0, 0%, 90%);
  --sombra-navbar: hsl(0, 0%, 0%, 0.3);
  --primario: rgb(88, 71, 235);
  --sky-blue: #56c2e6;
  --orange: #ff8c66;
  --green: #4acf81;
  --red: #ff5c7c;
  --violet: #7536d3;
  --yellow: #f1c65b;
  --filtro-perfil: linear-gradient(
      hsl(236, 45%, 20%, 0.35),
      hsl(236, 45%, 20%, 0.3)
    ),
    url(../../assets/foto-cuadrada.jpg);
}

.light-mode {
  --orange: hsl(10, 100%, 60%);
  --sky-blue: hsl(200, 90%, 42%);
  --fondo-body: #f9f9f9;
  --fondo-navbar: #f9f9f9;
  --fondo-navbar-2: rgba(249, 249, 249, 0.725);
  --sombra-navbar: hsl(0, 0%, 0%, 0.1);
  --letras: #0f1424;
  --filtro-perfil: linear-gradient(hsl(0, 0%, 90%, 0.2), hsl(0, 0%, 90%, 0.1)),
    url(../../assets/foto-cuadrada.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo-body);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow: hidden;
}

.galaxy {
  width: 250px;
  height: 250px;
  position: relative;
  transform: scale(0.7);
}
@media (min-width: 400px) {
  .galaxy {
    transform: scale(0.85);
  }
}
@media (min-width: 500px) {
  .galaxy {
    transform: scale(0.95);
  }
}
@media (min-width: 600px) {
  .galaxy {
    transform: scale(1);
  }
}
@media (min-width: 700px) {
  .galaxy {
    transform: scale(1.2);
  }
}
@media (min-width: 800px) {
  .galaxy {
    transform: scale(1.5);
  }
}

.sun {
  cursor: pointer;
  z-index: 4;
  width: 95px;
  height: 95px;
  font-size: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(216, 216, 58);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 30ms ease-in-out;
}
.sun:active {
  transform: translate(-50%, -50%) scale(0.9);
}
.sun-active {
  outline: solid rgb(216, 216, 58) 2px;
  outline-offset: 3px;
}

.ring {
  position: absolute;
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  animation-name: ring-rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.ring__1 {
  z-index: 3;
  border-style: inset;
  inset: 47px;
  animation-duration: 5s;
}
.ring__2 {
  z-index: 2;
  border-style: dashed;
  inset: 10px;
  animation-duration: 10s;
}
.ring__3 {
  border-style: outset;
  inset: -25px;
  animation-duration: 12s;
}

@keyframes ring-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.moon {
  position: absolute;
  left: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 1;
}
.moon-active {
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 2px;
}
.moon__html {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline-color: var(--orange);
}
.moon__css {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline-color: #28adc4;
}
.moon__sass {
  transform: translate(-50%, 50%);
  background-color: var(--red);
  bottom: 0;
  outline-color: var(--red);
}
.moon__github {
  border-radius: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
  outline-color: var(--green);
}
.moon__figma {
  bottom: 0;
  transform: translate(-50%, 50%);
  background-color: var(--violet);
  outline-color: var(--violet);
}
.moon__sass, .moon__figma {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moon__content::after {
  display: none;
  color: #000;
  font-family: "Ubuntu", sans-serif;
  border-radius: 0 2px 2px 0;
  padding: 3px;
  box-sizing: content-box;
  text-align: right;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.moon__content-active::after {
  display: block;
}
.moon__content__html {
  animation: moon-rotate 5s infinite linear;
  background-color: var(--orange);
}
.moon__content__css {
  animation: moon-rotate 10s infinite linear;
  background-color: #28adc4;
}
.moon__content__sass {
  animation: moon-rotate 10s infinite linear;
}
.moon__content__sass img {
  width: 100%;
  display: block;
  width: 25px;
}
.moon__content__github {
  font-size: 28.32px;
  color: var(--green);
  animation: moon-rotate 12s infinite linear;
}
.moon__content__figma {
  font-size: 22px;
  color: #000;
  animation: moon-rotate 12s infinite linear;
}
.moon__content__html, .moon__content__css {
  border-radius: 50%;
  padding-top: 2px;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon__content__github, .moon__content__figma {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon__content__html::after {
  width: 46px;
  content: "HTML";
  background-color: var(--orange);
}
.moon__content__css::after {
  width: 30px;
  background-color: #28adc4;
  content: "CSS";
}
.moon__content__sass::after {
  width: 41px;
  content: "SASS";
  background-color: var(--red);
  left: calc(100% + 1px);
}
.moon__content__github::after {
  width: 61px;
  content: "GITHUB";
  background-color: var(--green);
}
.moon__content__figma::after {
  width: 54px;
  content: "FIGMA";
  background-color: var(--violet);
}

@keyframes moon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
