:root {
  --fondo-body: #0f1424;
  --fondo-navbar: #1c1f4a;
  --fondo-navbar-2: rgba(28, 31, 74, 0.725);
  --letras: hsl(0, 0%, 90%);
  --sombra-navbar: hsl(0, 0%, 0%, 0.3);
  --primario: rgb(88, 71, 235);
  --sky-blue: #56c2e6;
  --orange: #ff8c66;
  --green: #4acf81;
  --red: #ff5c7c;
  --violet: #7536d3;
  --yellow: #f1c65b;
  --filtro-perfil: linear-gradient(
      hsl(236, 45%, 20%, 0.35),
      hsl(236, 45%, 20%, 0.3)
    ),
    url(../../assets/foto-cuadrada.jpg);
}

.light-mode {
  --orange: hsl(10, 100%, 60%);
  --sky-blue: hsl(200, 90%, 42%);
  --fondo-body: #f9f9f9;
  --fondo-navbar: #f9f9f9;
  --fondo-navbar-2: rgba(249, 249, 249, 0.725);
  --sombra-navbar: hsl(0, 0%, 0%, 0.1);
  --letras: #0f1424;
  --filtro-perfil: linear-gradient(hsl(0, 0%, 90%, 0.2), hsl(0, 0%, 90%, 0.1)),
    url(../../assets/foto-cuadrada.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo-body);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow: hidden;
}

.galaxy {
  width: 250px;
  height: 250px;
  position: relative;
  transform: scale(0.7);
}
@media (min-width: 400px) {
  .galaxy {
    transform: scale(0.85);
  }
}
@media (min-width: 500px) {
  .galaxy {
    transform: scale(0.95);
  }
}
@media (min-width: 600px) {
  .galaxy {
    transform: scale(1);
  }
}
@media (min-width: 700px) {
  .galaxy {
    transform: scale(1.2);
  }
}
@media (min-width: 800px) {
  .galaxy {
    transform: scale(1.5);
  }
}

.sun {
  cursor: pointer;
  z-index: 4;
  width: 95px;
  height: 95px;
  font-size: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(216, 216, 58);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring {
  position: absolute;
  border-radius: 50%;
}
.ring__1 {
  z-index: 3;
  border: inset 1px white;
  inset: 47px;
  animation: ring-rotate 5s infinite linear;
}
.ring__2 {
  z-index: 2;
  border: dashed 2px white;
  inset: 10px;
  animation: ring-rotate 10s infinite linear;
}
.ring__3 {
  border: outset 2px white;
  inset: -25px;
  animation: ring-rotate 12s infinite linear;
}

@keyframes ring-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.moon {
  position: absolute;
  left: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 1;
  /*&__1::after {
      display: none;
      border-radius: 0 2px 2px 0;
      box-sizing: content-box;
      content: 'HTML';
      text-align: right;
      width: 43px;
      padding-right: 2px;
      position: absolute;
      color: #000;
      font-size: 10px;
      font-weight: bold;
      background-color: var(--orange);
      left: 28px;
      top: 50%;
      transform: translateY(-50%);
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }

  &__1-active::after{
      display: initial;
  }*/
}
.moon__1 {
  transform: translate(-50%, -50%);
}
.moon__2 {
  transform: translate(-50%, -50%);
  /* outline: solid #28adc4 2px;
  outline-offset: 3px; */
}
.moon__3 {
  transform: translate(-50%, 50%);
  background-color: var(--red);
  bottom: 0;
  /* outline: solid var(--orange) 2px;
  outline-offset: 3px; */
}
.moon__4 {
  background-color: #000;
  transform: translate(-50%, -50%);
  /* outline: solid var(--orange) 2px;
  outline-offset: 3px; */
}
.moon__5 {
  bottom: 0;
  transform: translate(-50%, 50%);
  background-color: var(--violet);
  /* outline: solid var(--orange) 2px;
  outline-offset: 3px; */
}
.moon__3, .moon__4, .moon__5 {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moon__content-1 {
  animation: moon-rotate 5s infinite linear;
  background-color: var(--orange);
}
.moon__content-2 {
  animation: moon-rotate 10s infinite linear;
  background-color: #28adc4;
}
.moon__content-3 {
  display: block;
  width: 25px;
  animation: moon-rotate 10s infinite linear;
}
.moon__content-4 {
  font-size: 29px;
  color: var(--green);
  animation: moon-rotate 12s infinite linear;
}
.moon__content-5 {
  font-size: 22px;
  color: #000;
  animation: moon-rotate 12s infinite linear;
}
.moon__content-1, .moon__content-2 {
  border-radius: 50%;
  padding-top: 2px;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon__content-4, .moon__content-5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon__content-1::after {
  display: none;
  border-radius: 0 2px 2px 0;
  box-sizing: content-box;
  content: "HTML";
  text-align: right;
  width: 43px;
  padding-right: 2px;
  position: absolute;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  background-color: var(--orange);
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.moon__content-1-active::after {
  display: initial;
}

@keyframes moon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
