:root {
    --fondo-body: #0f1424;
    --fondo-navbar: #1c1f4a;
    --fondo-navbar-2: rgba(28, 31, 74, 0.725);
    --letras: hsl(0, 0%, 90%);
    --sombra-navbar: hsl(0, 0%, 0%, 0.3);
    --primario: rgb(88, 71, 235);
    --sky-blue: #56c2e6;
    --orange: #ff8c66;
    --green: #4acf81;
    --red: #ff5c7c;
    --violet: #7536d3;
    --yellow: #f1c65b;
    --filtro-perfil: linear-gradient(
        hsl(236, 45%, 20%, 0.35),
        hsl(236, 45%, 20%, 0.3)
      ),
      url(../../assets/foto-cuadrada.jpg);
  }
  
  .light-mode {
    --orange: hsl(10, 100%, 60%);
    --sky-blue: hsl(200, 90%, 42%);
    --fondo-body: #f9f9f9;
    --fondo-navbar: #f9f9f9;
    --fondo-navbar-2: rgba(249, 249, 249, 0.725);
    --sombra-navbar: hsl(0, 0%, 0%, 0.1);
    --letras: #0f1424;
    --filtro-perfil: linear-gradient(hsl(0, 0%, 90%, 0.2), hsl(0, 0%, 90%, 0.1)),
      url(../../assets/foto-cuadrada.jpg);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252163;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.galaxy {
    width: 250px;
    height: 250px;
    position: relative;
    /* border: solid 1px white; */
}

.sun {
    font-size: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(216, 216, 58);
    padding: 30px;
    border-radius: 50%;
    outline: solid rgb(216, 216, 58) 2px;
    outline-offset: 3px;
}

.ring-1 {
    position: absolute;
    inset: 35px;
    border: solid 2px white;
    border-radius: 50%;
    animation: ring-rotate 5s infinite linear;
}

.ring-2 {
    position: absolute;
    inset: -15px;
    border: inset 2px white;
    border-radius: 50%;
    animation: ring-rotate 9s infinite linear;
}

.ring-3 {
    position: absolute;
    inset: -65px;
    border: dashed 2px white;
    border-radius: 50%;
    animation: ring-rotate 12s infinite linear;
}

.ring-4 {
    position: absolute;
    inset: -115px;
    border: outset 2px white;
    border-radius: 50%;
    animation: ring-rotate 10s infinite linear;
}

.ring-5 {
    position: absolute;
    inset: -145px;
    border: dashed 2px white;
    border-radius: 50%;
    animation: ring-rotate 16s infinite linear;
}

/* 
Estos bordes voy a usar para los anillos
dotted 
dashed 
solid 
inset 
outset
*/

@keyframes ring-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.ring-1 .moon-1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: solid rgb(166, 108, 0) 2px;
    outline-offset: 3px;
}

.ring-2 .moon-2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: solid #28adc4 2px;
    outline-offset: 3px;
}

.ring-3 .moon-3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: solid #9028c4 2px;
    outline-offset: 3px;
}

.ring-4 .moon-4 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: solid #28c438 2px;
    outline-offset: 3px;
}

.ring-5 .moon-5 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: solid #c428a7 2px;
    outline-offset: 3px;
}

.moon-1-txt {
   background-color: orange; 
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   animation: moon-rotate 5s infinite linear;
}

.moon-2-txt {
    background-color: #28adc4; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: moon-rotate 9s infinite linear;
 }

 .moon-3-txt {
    background-color: #9028c4; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: moon-rotate 12s infinite linear;
 }

 .moon-4-txt {
    background-color: #28c438; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: moon-rotate 10s infinite linear;
 }

 .moon-5-txt {
    background-color: #d71fb6; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: moon-rotate 16s infinite linear;
 }

 @keyframes moon-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}



